/* Fonts */

@font-face {
  src: url(../fonts/Nunito-VariableFont_wght.ttf) format("truetype-variations");
  font-family: "Nunito";
  font-weight: 100 900;
}

/* Variables */

:root {
  /* Colors */
  --bg-primary: #262626;
  --bg-secondary: #383838;
  --text-color: #f2f2f2;
  --contrast-primary: #d7f205;
  --contrast-secondary: #5581d9;
}

/* Resets/Geral Styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  color: var(--text-color);
  font-family: "Nunito", "Arial", sans-serif;
  font-size: 18px;
  background-color: var(--bg-primary);
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 45px;
  white-space: nowrap;
}

h1 span {
  color: var(--contrast-primary);
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

h2 span {
  color: var(--contrast-primary);
}

/* Utility Classes */

.section {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.light {
  background-color: var(--bg-secondary);
}

.perfil {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  filter: grayscale(1);
}

.icon {
  width: 50px;
}

.br-3 {
  border-radius: 3px;
}

.pd-default {
  padding: 60px;
}

.flex {
  display: flex;
}

.gap-default {
  gap: 15px;
}

/* Navegação */

.nav {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 70px;
  width: 100vw;
  padding: 0 60px;
  background-color: #333333;
}

.nav__logo {
  align-items: center;
}

.nav__logo__img {
  width: 30px;
}

.nav__logo__text {
  user-select: none;
  color: var(--contrast-primary);
}

.nav__toggle {
  display: none;
  cursor: pointer;
}

.nav__list__link a {
  position: relative;
  padding-bottom: 4px;
  color: var(--text-color);
}

.nav__list__link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--contrast-primary);
  transition: width 0.3s ease;
}

.nav__list__link a:hover {
  color: var(--contrast-primary);
}
.nav__list__link a:hover::after {
  width: 100%;
}

.nav__social__link {
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.nav__social__link:first-child {
  color: var(--contrast-primary);
  background-color: var(--contrast-secondary);
}

.nav__social__link:first-child:hover {
  color: #b9cf0e;
  background-color: #2a53a7;
  transition: 0.3s;
}

.nav__social__link:last-child {
  color: var(--contrast-secondary);
  background-color: var(--contrast-primary);
}

.nav__social__link:last-child:hover {
  color: #2a53a7;
  background-color: #b9cf0e;
  transition: 0.3s;
}

:target {
  scroll-margin-top: 70px;
}

/* Hero Section */

.hero {
  position: relative;
  top: 70px;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.hero__btn {
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
}

.hero__btn a {
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}

.hero__btn a:first-child {
  color: var(--bg-primary);
  background-color: var(--contrast-primary);
}

.hero__btn a:first-child:hover {
  background-color: #b9cf0e;
  transition: 0.3s;
}

.hero__btn a:last-child {
  color: var(--contrast-primary);
  background-color: var(--bg-primary);
  border: 2px solid var(--contrast-primary);
}

.hero__btn a:last-child:hover {
  color: var(--bg-primary);
  background-color: var(--contrast-primary);
  border: 2px solid var(--contrast-primary);
  transition: 0.3s;
}

/* About Section */

.about p {
  text-align: justify;
  line-height: 2rem;
}

/* Hard Skill Section */

.hardskill__items {
  justify-content: center;
  flex-wrap: wrap;
}

.hardskill__item {
  align-items: center;
  flex-grow: 1;
  height: 80px;
  width: 300px;
  padding: 20px;
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.hardskill__item:hover {
  background-color: #444444;
}

/* Soft Skill Section */

.softskill {
  position: relative;
  top: 70px;
  align-items: center;
  gap: 100px;
}

.softskill__text {
  flex-direction: column;
  width: 50vw;
}

.softskill__list {
  flex-flow: column wrap;
  height: 150px;
}

.softskill__list li {
  font-size: 22px;
  line-height: 35px;
}

.softskill__list li::before {
  content: "— ";
  margin-right: 10px;
  color: var(--contrast-primary);
  font-weight: 900;
}

/* Hobbies Section */

.hobbie__items {
  justify-content: center;
  flex-wrap: wrap;
}

.hobbie__item {
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  height: 185px;
  width: 185px;
  padding: 20px;
  background-color: var(--bg-secondary);
  cursor: pointer;
}

.hobbie__item:hover {
  background-color: #444444;
}

/* Education Section */

.education__items {
  height: 350px;
  width: 750px;
  padding: 20px 40px;
  background-color: var(--bg-primary);
  overflow: auto;
}

.education__item {
  align-items: center;
}

.education__item > span,
p {
  line-height: 25px;
  font-size: 16px;
}

.education__item__deco {
  align-items: center;
  flex-direction: column-reverse;
}

.education__item__deco hr {
  height: 60px;
}

.education__item__circle {
  height: 10px;
  width: 10px;
  background-color: var(--contrast-primary);
  border-radius: 50%;
}

.education__item__tag {
  align-items: center;
}

.education__item__tag > span {
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 700;
}

.education__item__tag--completed {
  color: var(--text-color);
  background-color: var(--contrast-secondary);
}

.education__item__tag--inprogress {
  color: var(--bg-primary);
  background-color: var(--contrast-primary);
}

/* Contacts Section */

.contact__items {
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

.contact__item {
  width: 200px;
}

.contact__item {
  cursor: pointer;
}

.contact__item a {
  color: #9b9b9b;
}

.contact__item p {
  font-weight: 600;
}

.contact__item__img {
  margin-bottom: 15px;
}

.contact__item__img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Rodapé */

footer {
  position: relative;
  top: 70px;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: var(--text-color);
  background-color: var(--contrast-secondary);
}

footer a {
  color: var(--contrast-primary);
  font-weight: 700;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  h1 {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
  }

  h2 {
    font-size: 22px;
  }

  .section {
    padding: 30px;
  }

  .perfil {
    height: 200px;
    width: 200px;
  }

  .icon {
    width: 35px;
  }

  .pd-default {
    padding: 30px;
  }

  .gap-default {
    gap: 10px;
  }

  /* Nav Responsivo */

  .nav {
    padding: 0 20px;
  }

  .nav__logo {
    display: none;
  }

  .nav__toggle {
    display: block;
  }

  .nav__toggle img {
    width: 30px;
  }

  .nav__list {
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    background-color: #333333;
    z-index: 10;
  }

  .nav__list.active {
    display: flex;
  }

  .nav__list__link {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid var(--bg-secondary);
  }

  /* Hero Section */

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero__btn {
    justify-content: center;
    font-size: 16px;
  }

  /* Soft Skill Section */

  .softskill {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .softskill__text {
    align-items: center;
    width: 100vw;
  }

  .softskill__list {
    flex-direction: column;
    gap: 5px;
    height: auto;
  }

  .softskill__list li {
    font-size: 20px;
    line-height: 30px;
  }

  /* Education Section */

  .education__items {
    width: 100%;
    /* font-size: 12px; */
  }

  .education__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
  }

  .education__item > span,
  p {
    font-size: 15px;
  }

  .education__item::before {
    content: "— ";
    margin-right: 10px;
    color: var(--contrast-primary);
    font-weight: 900;
  }

  .education__item__deco {
    display: none;
  }

  .education__item__tag > span {
    font-size: 12px;
  }

  /* Contacts Section */

.contact__items {
	flex-direction: column;
  }
  
  .contact__item__img {
	margin-top: 30px;
  }
}
